:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: "Source Sans 3", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-font-personalizado:'Segoe UI', sans-serif;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  /* --bs-body-font-family: var(--bs-font-sans-serif); */
  --bs-body-font-family: var(--bs-font-personalizado);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529; /*COR DO TEXTO*/
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff; /*COR DE FUNDO*/
  --bs-body-bg-rgb: 247, 244, 239;
  --bs-emphasis-color: #000; /*COR PRETA DO TEXTO PRINCIPAL*/
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6; /*COR DA BORDA CINZA CLARO*/
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem; /*BORDAS REDONDAS*/
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /*SOMBRA PADRAO*/
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}


[data-bs-theme=dark] {
  color-scheme: dark; /* Define o esquema de cores como escuro */
  
  /* Cores principais do corpo */
  --bs-body-color: #dee2e6; /* Cor do texto principal */
  --bs-body-color-rgb: 222, 226, 230; /* Cor do texto no formato RGB */
  --bs-body-bg: #212529; /* Cor de fundo do corpo */
  --bs-body-bg-rgb: 33, 37, 41; /* Cor de fundo no formato RGB */

  /* Cores de ênfase */
  --bs-emphasis-color: #683A1F; /* Cor de destaque */
  --bs-emphasis-color-rgb: 	104, 58, 31; /* Cor de destaque no formato RGB */

  /* Cores secundárias */
  --bs-secondary-color: rgba(222, 226, 230, 0.75); /* Cor de texto secundária */
  --bs-secondary-color-rgb: 222, 226, 230; /* Cor secundária no formato RGB */
  --bs-secondary-bg: #F7F4EF; /* Cor de fundo secundária */
  --bs-secondary-bg-rgb: 	247, 244, 239; /* Cor de fundo secundária no formato RGB */

  /* Cores terciárias */
  --bs-tertiary-color: rgba(222, 226, 230, 0.5); /* Cor terciária do texto */
  --bs-tertiary-color-rgb: 222, 226, 230; /* Cor terciária no formato RGB */
  --bs-tertiary-bg: #2b3035; /* Cor de fundo terciária */
  --bs-tertiary-bg-rgb: 43, 48, 53; /* Cor de fundo terciária no formato RGB */

  /* Cores de texto para diferentes contextos */
  --bs-primary-text-emphasis: #6ea8fe; /* Cor de ênfase primária */
  --bs-secondary-text-emphasis: #a7acb1; /* Cor de ênfase secundária */
  --bs-success-text-emphasis: #75b798; /* Cor de ênfase para sucesso */
  --bs-info-text-emphasis: #6edff6; /* Cor de ênfase para informação */
  --bs-warning-text-emphasis: #ffda6a; /* Cor de ênfase para aviso */
  --bs-danger-text-emphasis: #ea868f; /* Cor de ênfase para erro */
  --bs-light-text-emphasis: #f8f9fa; /* Cor de ênfase para elementos claros */
  --bs-dark-text-emphasis: #dee2e6; /* Cor de ênfase para elementos escuros */

  /* Cores de fundo sutis para diferentes contextos */
  --bs-primary-bg-subtle: #031633; /* Cor de fundo sutil primária */
  --bs-secondary-bg-subtle: #161719; /* Cor de fundo sutil secundária */
  --bs-success-bg-subtle: #051b11; /* Cor de fundo sutil para sucesso */
  --bs-info-bg-subtle: #032830; /* Cor de fundo sutil para informação */
  --bs-warning-bg-subtle: #332701; /* Cor de fundo sutil para aviso */
  --bs-danger-bg-subtle: #2c0b0e; /* Cor de fundo sutil para erro */
  --bs-light-bg-subtle: #343a40; /* Cor de fundo sutil clara */
  --bs-dark-bg-subtle: #1a1d20; /* Cor de fundo sutil escura */

  /* Cores de borda sutis para diferentes contextos */
  --bs-primary-border-subtle: #084298; /* Cor de borda primária */
  --bs-secondary-border-subtle: #41464b; /* Cor de borda secundária */
  --bs-success-border-subtle: #0f5132; /* Cor de borda para sucesso */
  --bs-info-border-subtle: #087990; /* Cor de borda para informação */
  --bs-warning-border-subtle: #997404; /* Cor de borda para aviso */
  --bs-danger-border-subtle: #842029; /* Cor de borda para erro */
  --bs-light-border-subtle: #495057; /* Cor de borda para elementos claros */
  --bs-dark-border-subtle: #F7F4EF; /* Cor de borda para elementos escuros */

  /* Outras configurações */
  --bs-heading-color: inherit; /* Cor dos títulos (usa a cor herdada) */
  --bs-link-color: #6ea8fe; /* Cor padrão dos links */
  --bs-link-hover-color: #8bb9fe; /* Cor dos links ao passar o mouse */
  --bs-link-color-rgb: 110, 168, 254; /* Cor dos links no formato RGB */
  --bs-link-hover-color-rgb: 139, 185, 254; /* Cor dos links ao passar o mouse no formato RGB */

  /* Configurações adicionais */
  --bs-code-color: #e685b5; /* Cor do código embutido */
  --bs-highlight-color: #dee2e6; /* Cor do texto destacado */
  --bs-highlight-bg: #664d03; /* Cor de fundo do texto destacado */
  --bs-border-color: #495057; /* Cor da borda padrão */
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15); /* Cor de borda translúcida */
  --bs-form-valid-color: #75b798; /* Cor para formulários válidos */
  --bs-form-valid-border-color: #75b798; /* Cor da borda para formulários válidos */
  --bs-form-invalid-color: #ea868f; /* Cor para formulários inválidos */
  --bs-form-invalid-border-color: #ea868f; /* Cor da borda para formulários inválidos */
}

.dx-datagrid .negativo {
  color: #c00000 !important;
  font-weight: 600;
}

.dx-datagrid .negativo {
  color: #c00000 !important;
  font-weight: 700;
  background: #fff1f1;
}
