<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <div class="sidebar-brand">
    <a href="./index.html" class="brand-link">
      <div class="card-header text-center">        
        <img src="../../../assets/MACOSMI_LOGO_25_new.png" alt="Logo" style="width: auto; height: auto;" /> 
      </div>
    </a>
  </div>
  
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-database"></i>
            <p data-translate="baseDeDados">
              Base de Dados
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/encomendas/bd_encomendas.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="encomendas">Encomendas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/custeio/bd_custeio.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="custeio">Custeio</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/producao/bd_producao.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="producao">Produção</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/subcontratos/bd_subcontratos.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="subcontratos">SubContratos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/consumos/bd_consumos.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="consumos">Consumo</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/faturacao/bd_faturacao.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="faturacao">Faturação</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/comercializacao/bd_comercializacao.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="comercializacao">Comercialização</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/compras/bd_compras.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate="compras">Compras</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item menu">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-database"></i>
            <p>
              Resumos BD
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/faturacao/rsm_faturacaototal.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM Faturação</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/producao/rsm_producaototal.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM Producao</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/subcontratos/rsm_subcontratos.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM SubContratos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/consumos/rsm_consumos.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM Consumos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/comercializacao/rsm_comercializacao.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM Comercialização</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/bd/gastos/rsm_gastos.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> RSM Gastos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-graph-up-arrow"></i>
            <p>
              Orçamentos
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/orcamentos/OrcamentoAnalise/orcamentoanalise.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> Orcamento Analise</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/orcamentos/CriarOrcamento/orcamento.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> Orcamento</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/orcamentos/Auxiliar/producaoaux.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> Producao AUX</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Projeto/Frontend/html/orcamentos/Auxiliar/custeioaux.html" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p data-translate=".."> Custeio AUX</p>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a href=".././geral/geral.html" class="nav-link">
            <i class="nav-icon bi bi-house"></i>
            <p data-translate="geral">Geral</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
